JENKINS_USERNAME=<username>
JENKINS_PASSWORD=<password>
JENKINS_HOST=<host>
JENKINS_PORT=<port>

BROWSER_NAME=chrome
#BROWSER_OPTIONS_CHROME=--remote-allow-origins=*;--disable-gpu;--no-sandbox;--disable-dev-shm-usage;--headless=new;--window-size=1920,1080
BROWSER_OPTIONS_CHROME=--window-size=1920,1080;--lang=en-US
